@import url('https://fonts.googleapis.com/css?family=Markazi+Text');
@import url('https://fonts.googleapis.com/css?family=Oswald');


body {
	background-color: #fff;
	text-align: center;
}

header { 
	background-color: #000;
	border: 1px black solid;
	padding: 20px;
 }

nav {
	background-color: #000;
}

aside {
	background-color: #fff;
}

article {
	background-color: #fff;
}

footer {
	background-color: #000;
}

div {
	background-color: #fff;
}

#slogan {
	color: #CCA900;
	font-family: 'oswald', serif;
	font-size: 4em;
	text-transform: uppercase;
}

h1 {
	color: #000;
	font-family: 'oswald', sans-serif;
	font-size: 3em;
}

h3 {
	color: #7F7E76;
	font-family: 'oswald', sans-serif;
	font-size: 1.25em;
}

p {
	color: #7F7E76;
	font-family: 'markazi text', serif;
	font-size: 3em;
}

#two_column {
    background-color: #fff;
    border: none;
    padding: 20px;
}

#left {
    background-color: #fff;
    border: none;
    padding: 20px;
    float: left;
    width: 30%;
}

#right {
    background-color: #fff;
    border: none;
    padding: 20px;
    float: right;   
    width: 62%;
}

#two_column2 {
    background-color: #FFB7CF;
    border: none;
    padding: 20px;
}

#left2 {
    background-color: #fff;
    border: none;
    padding: 20px;
    float: left;
    width: 45%;
}

#right2 {
    background-color: #fff;
    border: none;
    padding: 20px;
    float: right;   
    width: 45%;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}