@import url('https://fonts.googleapis.com/css?family=EB+Garamond');
@import url('https://fonts.googleapis.com/css?family=Oswald');

table {
	text-align: center;
	font-family: 'oswald', sans-serif;
	font-size: 14px
}

a {
	color: #fff;
	font-family: 'oswald', sans-serif;
	font-size: 1.15em;
	padding: 10px;
	text-decoration: none;
 }