@import url('https://fonts.googleapis.com/css?family=Markazi+Text');
@import url('https://fonts.googleapis.com/css?family=Oswald');


body {
	background-color: #fff;
	text-align: center;
}

#slogan {
	color: #8b8989;
	font-family: 'markazi text', sans-serif;
	font-size: 4em;
	text-transform: uppercase;
}

h1 {
	color: #dead00;
	font-family: 'markazi text', serif;
	font-size: 6em;
}

p {
	color: #8b8989;
	font-family: oswald, sans-serif;
	font-size: 2em;
}