body {
	background-color: #fff;
}

#slogan {
	color: #8b8989;
	font-family: helvetica, sans-serif;
	font-style: italic;
	text-transform: uppercase;
}

h1, p {
	color: #dead00;
	font-family: helvetica, sans-serif;

}