body {
	background-color: #fff;
	text-align: center;
}

#slogan {
	color: #8b8989;
	font-family: helvetica, sans-serif;
	font-style: italic;
	text-transform: uppercase;
}

h1 {
	color: #dead00;
	font-family: helvetica, sans-serif;
}

p {
	color: #8b8989;
	font-family: helvetica, sans-serif;
}